@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: SpaceGrotesk;
    src: url("/assets/fonts/static/SpaceGrotesk-Medium.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: SpaceGrotesk;
    src: url("/assets/fonts/static/SpaceGrotesk-Bold.ttf");
    font-weight: bold;
  }
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "SpaceGrotesk";
    src: url("/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
        format("woff2 supports variations"),
      url("/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
        format("woff2-variations");
    font-weight: 500 700;
  }
}

:root {
  --black: hsl(0, 0%, 8%);
  --dark-gray: hsl(0, 0%, 14%);
  --gray: hsl(0, 0%, 85%);
  --green: hsl(153, 71%, 59%);
  --danger: hsl(2, 100%, 68%);
  --white: hsl(0, 0%, 100%);

  --heading-xl: 5.5rem;
  --heading-xl-letter: -2.5px;
  --heading-xl-line: 5.5rem;

  --heading-l: 3rem;
  --heading-l-letter: -1.5px;
  --heading-l-line: 3.5rem;

  --heading-m: 1.5rem;
  --heading-m-line: 2rem;

  --body: 1.125rem;
  --body-line: 1.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 13px;
}

main,
header,
footer {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1rem;
}

header {
  display: flex;

  flex-direction: column;
  align-items: center;

  padding-block: 1.5rem;
  padding-block-end: 0;

  row-gap: 1.5rem;
}

header .icons {
  display: flex;

  column-gap: 1.5rem;
}

header .icons > img {
  width: 1.5rem;
}

body {
  min-height: 100vh;

  background-color: var(--black);
  color: var(--white);

  font-size: var(--body);
  line-height: var(--body-line);
  font-family: SpaceGrotesk, sans-serif;
  font-weight: 500;
}

button {
  border: none;

  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2.25px;

  padding: 1rem;

  transition: color 300ms ease-in-out;
}

button:hover {
  color: var(--green);
}

button,
mark {
  background-color: transparent;
  color: inherit;
  position: relative;
}

mark::after,
button::after {
  content: "";

  position: absolute;
  inset-inline: 0;
  bottom: 0;

  height: 4px;
  background-color: var(--green);
}

button::after {
  height: 2px;
}

.profile-card {
  text-align: center;

  position: relative;
  top: -6.2rem;
}

.profile-card > img {
  width: 12rem;
}

.profile-card > h1 {
  font-size: var(--heading-l);
  letter-spacing: var(--heading-l-letter);
  line-height: var(--heading-l-line);

  margin-block-start: 3rem;
}

.profile-card > p {
  color: var(--gray);
}

.profile-card > button,
.profile-card > p {
  margin-block-start: 1.8rem;
}

.divider {
  height: 1px;
  background-color: var(--white);
}

.xp-container {
  padding-block: 3.3rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  row-gap: 2rem;
}

.xp-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  main,
  header,
  footer {
    padding-inline: 1.9rem;
  }

  .profile-card {
    text-align: left;
  }

  .profile-card > h1 {
    font-size: var(--heading-xl);
    letter-spacing: var(--heading-xl-letter);
    line-height: var(--heading-xl-line);
  }

  .xp-container {
    grid-template-columns: 1fr 1fr;
  }

  .xp-card {
    align-items: flex-start;
  }

  .md-hidden {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }

  main,
  header,
  footer {
    padding-inline: 2.5rem;
  }
}
